<p>
  <strong>Address Line 1:</strong>
  <%= address.street1 %>
</p>

<p>
  <strong>Address Line 2:</strong>
  <%= address.street2 %>
</p>

<p>
  <strong>City:</strong>
  <%= address.city %>
</p>

<p>
  <strong>State:</strong>
  <%= address.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= address.country %>
</p>

<p>
  <strong>ZIP Code:</strong>
  <%= address.zipcode %>
</p>