<p id="notice"><%= notice %></p>

<p>
  <strong>Account:</strong>
  <%= @organization.account_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @organization.member_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @organization.name %>
</p>

<%= link_to 'Edit', edit_organization_path(@organization) %> |
<%= link_to 'Back', organizations_path %>
