<%= form_for(@email) do |f| %>
    <% if @email.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@email.errors.count, "error") %> prohibited this email from being saved:</h2>

          <ul>
            <% @email.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="field">
      <%= select("member", "member_id", Member.all.collect { |p| [p.name, p.id] }, {include_blank: 'None'}) %>
    </div>

    <div class="field">
      <%= f.label :subject %><br>
      <%= f.text_field :subject %>
    </div>

    <%= hidden_field_tag('Account', value = current_account) %>

    <div class="field">
      <%= f.label :subject_type %><br>
      <%= f.text_field :subject_type %>
    </div>

    <div class="field">
      <%= label_tag 'body' %><br>
      <%= text_area_tag 'body' %>
    </div>

    <div class="actions">
      <%= f.submit, "Send" %>
    </div>
<% end %>
