<p id="notice"><%= notice %></p>

<p>
  <strong>Member:</strong>
  <%= @member.name %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @email.subject %>
</p>

<p>
  <strong>Account:</strong>
  <%= @account.email %>
</p>

<p>
  <strong>Subject type:</strong>
  <%= @email.subject_type %>
</p>

<%= link_to 'Edit', edit_email_path(@email) %> |
