<%= form_for(setup_member(@member)) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organization_id %><br>
    <%= f.number_field :organization_id %>
  </div>
  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :hours_worked %><br>
    <%= f.number_field :hours_worked %>
  </div>
  <div class="field">
    <%= f.label :last_contacted_at %><br>
    <%= f.datetime_select :last_contacted_at %>
  </div>

    <%= f.fields_for :address do |ff| %>
        <div class="field">
          <%= ff.label :street1 %><br>
          <%= ff.text_field :street1 %>
        </div>
        <div class="field">
          <%= ff.label :street2 %><br>
          <%= ff.text_field :street2 %>
        </div>
        <div class="field">
          <%= ff.label :city %><br>
          <%= ff.text_field :city %>
        </div>
        <div class="field">
          <%= ff.label :state %><br>
          <%= ff.text_field :state %>
        </div>
        <div class="field">
          <%= ff.label :country %><br>
          <%= ff.text_field :country %>
        </div>
        <div class="field">
          <%= ff.label :zipcode %><br>
          <%= ff.number_field :zipcode %>
        </div>
    <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
